:root {
    --main-backcolor: #272527;
    --second-backcolor: #2F2E37;
    --third-backcolor: #3B3946;
    --main-frontcolor: #D8D3DC;
    --second-frontcolor: #D4BFFD;
    --third-frontcolor: #A17EE6;
    --main-brightcolor: #8B6CD4; 
    --second-brightcolor: #7E54D5;
    --third-brightcolor: #5A39AD;
    --warning-color-main:#7E032A;
    --warning-color-bright:#930336;
  }
