:root {
    --main-backcolor: #29282C;
    --second-backcolor: #31323B;
    --third-backcolor: #423D4D;
    --main-frontcolor: #DFD5E2;
    --second-frontcolor: #D4BFFD;
    --third-frontcolor: #A17EE6;
    --main-brightcolor: #8B6CD4; 
    --second-brightcolor: #7E54D5;
    --third-brightcolor: #5A39AD;
  }
