:root {
    --main-backcolor: #29282C;
    --second-backcolor: #444552;
    --main-frontcolor: #524F9D;
    /* toFind */
    --second-frontcolor: #222b48;
    --main-brightcolor: #171020; 
    --second-brightcolor: #222b48;
  }
