:root {
    --main-backcolor: #e0e1dd;
    --second-backcolor: #d5bdaf;
    --main-frontcolor: #457b9d;
    --second-frontcolor: #1d3557;
    --main-brightcolor: #171020; 
    --second-brightcolor: #222b48;
  }
