:root {
    --main-backcolor: #e0e1dd;
    --second-backcolor: #d5bdaf;
    --third-backcolor: #c9b9b0;
    --main-frontcolor: #457b9d;
    --second-frontcolor: #1f4558;
    --third-frontcolor: #1d3557;
    --main-brightcolor: #171020; 
    --second-brightcolor: #222b48;
    --third-brightcolor: #262d4a;
    --warning-color-main:#7E032A;
    --warning-color-bright:#930336;
  }
