:root {
    --main-backcolor: #1a1251;
    --second-backcolor: #2328a1;
    --main-frontcolor: #3399a9;
    --second-frontcolor: #43aaba;
    --main-brightcolor: #1ff1aa; 
    --second-brightcolor: #2ffbba;
  }
