body {
    background-color: var(--main-backcolor);
}
.input-container
{
    margin-top: 8vh;
    margin-left: 5vw;
}
.new-project-header
{
    height:  10vh;
    display: inline-block;
    color: var(--main-frontcolor);
    font-family: 'Figtree';
    letter-spacing: 2px;
    font-size: calc(1.8vh + 1.4vw + 6px);
    font-weight: 500;
}
.new-project-label
{
    display: inline-block;
    color: var(--main-frontcolor);
    font-family: 'Figtree';
    letter-spacing: 2px;
    font-size: calc(0.95vh + 0.65vw + 3px);
    font-weight: 200;
    margin-top: 2vh;
}
.new-project-input
{
    height: calc(1.5vh + 7px);
    width: calc(38vw + 30px);
    background-color: var(--second-backcolor);
    border: none;
    margin-top: 0.7vh;
    font-family: 'Figtree';
    font-size: calc(0.3vh + 0.7vw + 2px);
    font-weight: 300;
    color: var(--main-frontcolor);
}
input:focus {
    outline: none;
    background-color: var(--third-backcolor);
  }