body {
    background-color: var(--main-backcolor);
}

.button-container {
    background-color: transparent;
    display: grid;
    position: absolute;
    width: 20%;
    height: 30%;
    top: 60%;
    left: 40%;
    row-gap: 4%;
    grid-template-rows: 1fr 1fr 1fr;

}
.main-buttons {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;

}
.project-icon{
    width: 100%;
    align-self: center;
}
.project-text {
    font-size: 4vmin;
    height: 100%;
    margin-top: 0;
    text-align: center;
    display: flex;            /* новое свойство */
    align-items: center;      /* новое свойство */
    justify-content: center; 
}