body{
    background-color: var(--main-backcolor);
}
#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    white-space: nowrap; 
  }
  #sortable li { 
    display: inline-block; 
    margin: 0 5px 0 0; 
  }