body {
    background-color: var(--main-backcolor);
}

.project-header {
    position: absolute;
    top: 10px;
    left: calc(4vw + 20px);
    text-align: center;
    display: inline-block;
    color: var(--main-frontcolor);
    font-family: 'Figtree';
    letter-spacing: 2px;
    font-size: calc(2.3vh + 2vw + 8px);
    font-weight: 600;
}

.projects-container {
    position: absolute;
    top: 22%;
    left: calc(3vw + 20px);
    width: calc(40px + 45%);
    height: 65%;
    overflow-y: auto;
}

.projects-container::-webkit-scrollbar {
    width: calc(0.3vw + 6px);
}

.projects-container::-webkit-scrollbar-track {
    background: var(--third-backcolor)
}

.projects-container::-webkit-scrollbar-thumb {
    background: var(--main-frontcolor);
    border-radius: calc(0.12vw + 0.08vh + 2px);
}

.projects-container::-webkit-scrollbar-thumb:hover {
    background: var(--third-frontcolor);
}

.project-item {

    height: calc(20px + 12%);
    max-width: 100%;;
    width: 100%;
    margin-top: 0;
    background-color: var(--main-backcolor);
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
        "name name name .  .  vrsn more"
        "path path path path path path path ";

}

.project-item:hover {
    background-color: var(--second-backcolor);
}

.project-text-name {
    grid-area: name;
    height: 80%;
    color: var(--second-frontcolor);
    font-family: 'Figtree';
    margin-top: -2%;
    font-size: calc(1.44vh + 1.47vw);
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.project-text-path {
    grid-area: path;
    height: 80%;
    color: var(--main-frontcolor);
    font-family: 'Figtree';
    margin-top: -1.5%;
    font-size: calc(0.6vh + 0.6vw);
    text-align: left;


}

.project-text-version {
    width: 100%;
    background-color: darkturquoise;
    grid-area: vrsn;
}

.project-more-button {
    width: 100%;
    background-color: hotpink;
    grid-area: more;
}