body {
    background-color: var(--main-backcolor);
}

.project-header {
    position: absolute;
    top: 10px;
    left: calc(4vw + 20px);
    text-align: center;
    display: inline-block;
    color: var(--main-frontcolor);
    font-family: 'Figtree';
    letter-spacing: 2px;
    font-size: calc(2.3vh + 2vw + 8px);
    font-weight: 600;
}

.projects-container {
    position: absolute;
    top: 22%;
    left: calc(3vw + 20px);
    width: calc(40px + 45%);
    height: 65%;
    overflow-y: auto;
}

.projects-container::-webkit-scrollbar {
    width: calc(0.3vw + 6px);
}

.projects-container::-webkit-scrollbar-track {
    background: var(--third-backcolor)
}

.projects-container::-webkit-scrollbar-thumb {
    background: var(--main-frontcolor);
    border-radius: calc(0.12vw + 0.08vh + 2px);
}

.projects-container::-webkit-scrollbar-thumb:hover {
    background: var(--third-frontcolor);
}

.project-item {

    height: calc(40px + 10%);
    width: 100%;
    margin-top: 0;
    background-color: var(--main-backcolor);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
    "name name name .  .  vrsn more"
    "name name name .  .  vrsn . "
    "path path path path path path path";

}

.project-item:hover {
    background-color: var(--second-backcolor);
}

.project-text-name {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    grid-area: name;
}

.project-text-path {
    background-color: darkseagreen;
    height: 100%;
    width: 100%;
    grid-area: path;
}
.project-text-version {
    background-color: darkturquoise;
    height: 100%;
    width: 100%;
    grid-area: vrsn;
}
.project-more-button {
    background-color: hotpink;
    grid-area: more;
}