body {
    background-color: var(--main-backcolor);
    margin: 0;
}

#sortable {
    width: 100%;
    margin-left: 0;
    padding: 0;
    font-size: 0;
    list-style-type: none;
    white-space: nowrap;

}

.tab-item {
    font-size: calc(0.3vh + 0.5vw + 4px);
    font-weight: 400;
    background-color: var(--second-backcolor);
    border: calc(0.04vw + 1px) solid var(--third-backcolor);
    float: left;
    height: 90%;
    display: flex;
    cursor: pointer;
}

.tab-item:hover {
    background-color: var(--third-backcolor);
}

.tab-item a {

    padding-right: calc(0.4vw + 2px);
    padding-left: calc(0.4vw + 2px);
    height: 100%;
    width: 100%;
    text-decoration: none;
    align-self: center;
    color: var(--main-frontcolor);
    font-family: 'Bahnschrift';
    display: flex;
    align-items: center;

}

.tabsContainer {
    margin-top: calc(10px + 1.4vh);
    background-color: var(--second-backcolor);
    height: calc(0.8vh + 25px);
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.action-choosing-part {
    background-color: var(--second-backcolor);
    padding-top: calc(10px + 1.4vh);
    width: calc(9.5vw + 80px);
    height: calc(98.6vh - 10px);
    position: relative;
    /* Добавлено */
    left: 0;
}

.modification-part {
    position: absolute;
    top: 0;
    right: 0;

    width: calc(90.5vw - 80px);
    height: 100vh;
}

.tabPage {
    height: calc(97.4vh - 25px - 30px);
    clear: both;
}

.new-modification-btn {
    margin-top: calc(0.1vw + 2px);
    width: 100%;
    height: calc(34px + 2.4vh);
    max-height: calc(36px + 3vh);
    display: grid;
    grid-template-columns: 1fr 4fr;
    cursor: pointer;
    /* border: red 1px solid; */

}

.new-modification-btn:hover {
    border-left: var(--second-frontcolor) calc(0.08vw + 3px) solid;

}

.action-icon-recipe {
    height: calc(6px + 40%);
    aspect-ratio: 1/1;
    margin-top: calc(11% + 6px);
    margin-left: 4%;
}

.action-icon-recipe path {
    fill: var(--second-frontcolor);

}

.action-icon-tags {
    height: calc(6px + 56%);
    aspect-ratio: 1/1;
    margin-top: calc(8px - 7%);
    stroke: var(--second-frontcolor);
}

.action-icon-tags path {
    stroke: var(--second-frontcolor);
}

.action-icon-item {
    height: calc(6px + 33%);
    aspect-ratio: 1/1;
    margin-top: calc(6% + 11px);
    margin-left: calc(2px + 0.4vw);
}

.action-icon-item path {
    fill: var(--second-frontcolor);
}

.action-icon-item-plus {
    stroke: var(--second-frontcolor);
}

.action-icon-textmode {
    height: calc(6px + 37%);
    aspect-ratio: 1/1;
    margin-top: calc(8% + 9px);
    margin-left: calc(2px + 0.4vw);
}

.action-icon-textmode path {
    stroke: var(--second-frontcolor);
}

.action-icon-multiblock {
    height: calc(6px + 42%);
    aspect-ratio: 1/1;
    margin-top: calc(1% + 8px);
    margin-left: calc(1px + 0.26vw);
}

.action-icon-multiblock path {
    fill: var(--second-frontcolor);
    stroke: var(--second-frontcolor);
    stroke-width: 12;
}

.action-icon-block {
    height: calc(6px + 48%);
    aspect-ratio: 1/1;
    margin-top: calc(1% + 7px);
    margin-left: calc(1px + 0.1vw);
}

.action-icon-block path {
    stroke: var(--second-frontcolor);
    stroke-width: 1.6;
}

.action-icon-machine {
    height: calc(6px + 38%);
    aspect-ratio: 1/1;
    margin-top: calc(10px - 1%);
    margin-left: calc(1px + 0.3vw);
}

.action-icon-machine rect {
    stroke: var(--second-frontcolor);
    stroke-width: 3.4;
}

.action-icon-machine line {
    stroke: var(--second-frontcolor);
    stroke-width: 3.4;
}

.action-icon-remove {
    height: 50%;
    margin-left: 4px;
    aspect-ratio: 1/1;
    margin-top: calc(10px - 1%);
}

.action-icon-remove path {
    stroke: var(--second-frontcolor);
}

.action-label {
    font-family: 'Bahnschrift';
    font-size: calc(0.8vh + 1vw + 2px);
    margin-top: calc(17px - 2.2%);
    font-weight: 400;
    color: var(--second-frontcolor);
    margin-left: calc(6px - 0.15vw);
}

.action-machinery-label {
    font-family: 'Bahnschrift';
    font-size: calc(0.9vh + 0.8vw + 2px);
    margin-top: calc(35px - 18%);
    font-weight: 400;
    color: var(--second-frontcolor);
}

.bottom-action-btns-container {
    position: absolute;
    width: 100%;
    bottom: calc(4px + 0.8vh);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: calc(0.1vh + 1px);
    height: calc(34px * 3 + 2.4vh * 3);
}

.bottom-action-btn {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    cursor: pointer;
   
}

.bottom-action-btn path {
    fill: var(--second-frontcolor);

}
.bottom-action-btn:hover{
    border-left: var(--second-frontcolor) calc(0.08vw + 3px) solid;
}
.collection-btn {
    height: 70%;
    margin-left: 10%;
    aspect-ratio: 1/1;
    align-self: center;
}

.history-btn {
    height: 100%;
    margin-left: 5%;
    aspect-ratio: 1/1;
    margin-top: calc(5px + 8%);
}

.settings-btn {
    height: 80%;
    margin-left: 2%;
    aspect-ratio: 1/1;
    align-self: center;
    
}
.bottom-action-label {
    font-family: 'Bahnschrift';
    font-size: calc(0.7vh + 0.7vw + 6px);
    align-self: center;
    font-weight: 400;
    color: var(--second-frontcolor);
    margin-left: calc(15px - 0.3vw);
}