body{
    background-color: var(--main-backcolor);
    margin: 0;
    
}
#sortable { 
    list-style-type: none; 
    padding: 0; 
    white-space: nowrap;
    font-size: 0; 
}

#sortable li { 
    padding: calc(0.06vh + 0.06vw + 3px);
    display: inline-block; 
    background-color: aliceblue;
    font-size: calc(0.5vh + 0.7vw + 4px); 
    
}
#containerForPages
{
    background-color: aqua;
}
#sortable li a {
    text-decoration: none;
}

.tabsContainer{
    background-color: var(--second-backcolor);
   
}
#mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
}

.resizable {
    height: 100%;
    flex-grow: 1;
}

#modificationsChoosingPart {
    background-color:var(--main-backcolor);
    min-width: 14%;
}

#modificationsMakingPart {
    background-color:var(--main-backcolor);
    min-width: 60%;
}

#divider {
    height: 100%;
    width: calc(5px + 0.25vw);
    background-color: var(--second-backcolor);
    cursor: ew-resize;
}
#divider:hover
{
    background-color: var(--third-backcolor);
    
}